.imageRightBanner{
    height: 152px;
}
.leftBannerImage{
    height: 304px;
}
.middleNewsHome{
    height: 144px;
}
.featuredImage{
    height: 100px;
}
.singleRelatedNewsImage{
    height: 150px;
}
