.imageRightBanner{
    height: 152px;
}
.leftBannerImage{
    height: 304px;
}
.middleNewsHome{
    height: 144px;
}
.featuredImage{
    height: 100px;
}
.singleRelatedNewsImage{
    height: 150px;
}
.ytCalc {
    background: white;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 0 20px rgba(0,0,0,0.1);
    text-align: center;
    width: 500px;
    margin: 50px 0px;
}
.ytCalc img {
    width: 100px;
    margin-bottom: 20px;
}
.h1-yt {
    color: #ff6f61;
    margin-bottom: 20px;
}
.label-yt {
    display: block;
    margin: 15px 0 5px;
    color: #333;
}
.input-yt {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
.result-yt {
    margin-top: 20px;
    font-size: 1.2em;
    color: #333;
}

.calorieCalc {
    text-align: center;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 50px 0px;
}

.h1-calorie {
    color: #ff6f61; /* Title color */
}

.label-calorie {
    display: block;
    margin: 10px 0;
    font-size: 16px;
}

.input-calorie {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.select-calorie {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.result-calorie {
    font-size: 18px;
    margin-top: 20px;
    font-weight: bold;
}
